<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique Fruits</title>
</head>
<body>

<h2>Unique Fruits from Basket A</h2>
<table border="1">
    <tr>
        <th>Fruit</th>
    </tr>
    {% for fruit in fruits_a %}
    <tr>
        <td>{{ fruit }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Unique Fruits from Basket B</h2>
<table border="1">
    <tr>
        <th>Fruit</th>
    </tr>
    {% for fruit in fruits_b %}
    <tr>
        <td>{{ fruit }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>